<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="LDAPPassword" value="T0u@tg@z" />
    <add key="LDAPPath" value="LDAP://OU=TOUAT,DC=GTG,DC=ODZ" />
    <add key="LDAPUser" value="Administrator" />
    <add key="LDAPServer" value="10.35.40.5"/>
  </appSettings>
  
  <connectionStrings>
  <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};  Extended Properties='Excel 8.0;HDR={1}'"/>
  <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    </connectionStrings>
</configuration>